// Color Scheme
$white: #FFF;
$platinum: #E8EBE4;
$gray:#BEC1BB;
$blue:#A491D2;
$soap:#CDC3E6;
$pale:#D4DCFF;
$dark:#1B1F21;
$outer:#444749;
$old:#828485;

//Font Family
$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Sizes
$large: 45x;
$medium: 16px;
$small: 10px;
$x-small: 10px;

